@font-face {
  font-family: lato;
  src: url("./Lato-Regular.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
}

body,
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

canvas {
  z-index: -1;
  background-color: #aa2222;
}

#about_wrap {
  z-index: 10;
  font-family: lato;
  color: #fff;
  position:fixed;
  top:1rem;
  left:1rem;
}
.large {
  font-weight: bold;
  font-size:2rem;
}

#course {
  position:absolute;
  z-index: 0;
  font-size:4.5rem;
  color:white;
  margin-top:3rem;
}

#logo {
  width:12vh;
  z-index: 10;
}

#me_wrap {
  position: fixed;
  bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  font-weight: bold;
  font-family: lato;
  color:#fff;
}

#me_svg {
  width: 12vh;
}

/* #me_who {
  font-size: 1.2rem;
} */